export const environment = {
    twitterApiBaseUrl: 'https://api.twitter.com',
    twitterAppKey: '<twitter-app-api-key',
    twitterAppSecretKey: '<twitter-app-secret-key>',
    defaultTweetCount: 30
};
